<ion-content class="ion-padding">
    <div class="forgotpassword">
        <ion-label>Forgot Password</ion-label>
    </div>
    <div class="email-input">
        <ion-label>Email</ion-label>
        <ion-input  type="email" placeholder="email@email.com" value="" style="background: #ececec; border-bottom: 1px solid gray; padding: 5px;"></ion-input>
    </div>
    <ion-button color="gennakar"  expand="block" routerLink="/resetpassword">
        Click me
    </ion-button>
    <ion-label style="display: flex; margin-top: 1.5rem;">
        <p>Remember Password?</p>
        <p class="link-login" routerLink="/login">Login Here</p>
    </ion-label>
</ion-content>
