<ion-content>
	<ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<ion-searchbar placeholder="Search Validated Flora" mode="ios" [(ngModel)]="floraValidated" [debounce]="500"
		(ionChange)="handleChange($event)"></ion-searchbar>

	<ion-list>
		<ion-item *ngIf="message">
			<ion-label>
				<h2>{{message}}</h2>
			</ion-label>
		</ion-item>
		<ion-item-sliding *ngFor="let item of tree | filter: floraValidated" button (click)="goToValidatedViewModal(item)">
			<ion-item button style=" align-items: center; width: 100%;">
				<ion-avatar slot="start">
					<ion-img [src]="item.tablePhotoUrl" alt="avatar"></ion-img>
				</ion-avatar>
				<div class="list-detail" style="width: 100%">
					<div class="list-header" style="display: flex; justify-content: space-between; width: 100%;">
						<div class="list-detail" style="display: flex; justify-content: space-between; width: 100%">
							<ion-label>
								<h2>{{generateFloraValidationName(item.category_id)}}</h2>
							</ion-label>
							<ion-label style="text-align: center; margin: 0; padding: 0; font-size: 12px;">{{item.ago}}</ion-label>
						</div>
					</div>
					<ion-label>
						<p>{{item.description ? item.description :'No Description'}}</p>
					</ion-label>
				</div>
			</ion-item>
		</ion-item-sliding>
		<ion-infinite-scroll *ngIf="showLoading()" threshold="10%" position="bottom" (ionInfinite)="loadData($event)">
			<ion-infinite-scroll-content loadingSpinner="circular" loadingText="Loading more data...">
			</ion-infinite-scroll-content>
		</ion-infinite-scroll>
	</ion-list>
</ion-content>