<div class="ion-page" id="main-content">

  <app-dismiss-button></app-dismiss-button>
  <ion-header class="ion-no-border">
      <ion-toolbar class="toolbar">
          <ion-title >Fill Details</ion-title>
      </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <div class="formcapture-container">
      <ion-text class="text-title">
        <h1>Photos </h1>
        <span>( Atleast 3 )</span>
      </ion-text>

      <div class="capture-button-container">
        <div class="capture-box">
          <ion-icon slot="start" name="add"></ion-icon>
        </div>
      </div>

      <div class="submit-button-container">
        <ion-button color="gnprimary" fill="solid" shape="round">Submit</ion-button>
      </div>
    </div>
  </ion-content>
</div>