<div class="ion-page" id="main-content">

  <app-dismiss-button></app-dismiss-button>
  <ion-header class="ion-no-border">
      <ion-toolbar class="toolbar">
          <ion-title >Fill Details</ion-title>
      </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <div class="text-container">
      <ion-text color="primary">
        <h1>Jone M. Doe</h1>
        <h2>9:00AM - 10:00 AM</h2>
      </ion-text>
    </div>

    <div class="image-container">
      <ion-img src="../../../assets/images/illustration-hornbill-at-pinanga.png"></ion-img>
    </div>

    <div class="status-container">
      <div class="status-text-container">
        <span>25</span>
        <p>Flora</p>
      </div>
      <div class="line"></div>
      <div class="status-text-container">
        <span>25</span>
        <p>Fauna</p>
      </div>
    </div>

    <div class="description-container">
      <p>Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit ametLorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet</p>
    </div>
  </ion-content>
</div>