<ion-content color="gennakar"  class="">
    <div class="wl-container wl-text-center">
        <div class="wl-image-container">
            <img id="wl-image" src="../../../assets/icon/Gen Nakar Logo-01.png" class="smallLogo"/>
        </div>
        <div class="wl-text-wrapper">
            <h1 class="wl-text-header .wl-color-gnprimary wl-font-poppins .wl-font-36 ion-padding">Welcome</h1>
            <p class="wl-text-sub-header"> 
                <span class="wl-font-poppins wl-color-gnprimary">General Nakar Automatic Tracking & Watershed Patrol App </span> 
                <span class="wl-font-poppins wl-color-gnsecondary">(GAWA)</span> 
            </p>
        </div>

        <ion-button class="wl-font-16 wl-position-bottom ion-margin wl-font-poppins wl-color-gnprimary" fill="clear" routerLink='/login'>
            Start
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-button>
    </div>
</ion-content>