<div class="ion-page" id="main-content">
   
    <app-header-nav title="Profile"></app-header-nav>
          
    <ion-content class="ion-padding" color="gnprimary" fullscreen>

        <div class="container">
            <ion-avatar>
                <img [src]="userPhotoLink" />
            </ion-avatar>
            <ion-text>
                <h1>{{firstname + ' ' + lastname_initial + '.'}}</h1>
            </ion-text>
            <ion-text color="gnsecondary">
                <p>{{position}}</p>
            </ion-text>
           
            <ion-button (click)="logout()" fill="outline" color="light" shape="round">
                <ion-icon name="log-out-outline"></ion-icon> &nbsp;
                Logout
            </ion-button>
        </div>
    </ion-content>
</div>
