<ion-header>
  <ion-toolbar color="gnprimary">
    <ion-title mode="ios">Select Watershed</ion-title>
    <ion-buttons (click)="hideModal()"  slot="start" fill="clear" color="light">
        <ion-icon name="arrow-back" size="medium" slot="icon-only"></ion-icon>
    </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>

  <ion-card button class="ion-padding" *ngFor="let watershed of watersheds; let indexOfelement=index;" (click)="selectWatershed(watershed)">
    <ion-card-header>
      <ion-card-title>{{watershed.name}}</ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>
  
    <ion-card-content>
      {{watershed.description}}
    </ion-card-content>
  </ion-card>
</ion-content>
