<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-searchbar placeholder="Search Submitted Flora" mode="ios" [(ngModel)]="floraSubmitted" [debounce]="300"></ion-searchbar>
    <ion-list>
        <div *ngFor="let flora of floras | filter: floraSubmitted; let key = index">
            <ion-item-sliding>
                <ion-item button (click)="forSubmittedView(flora.appId)">
                    <ion-avatar slot="start">
                        <ion-img [src]="imageSrc(flora)"></ion-img>
                    </ion-avatar>
                    <div class="width-100">
                        <ion-label><h2>{{(flora.category_name)}}</h2></ion-label>
                        <ion-label><p>{{(flora.date_encoded | date: 'yyyy-MM-dd')}}</p></ion-label>
                    </div>
                </ion-item>
                <ion-item-options side="end">
                    <ion-item-option (click)="removeFloraItem(key)" color="danger" expandable="true" mode="ios">
                        <ion-icon size="large" color="light" name="trash-outline"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </div>
    </ion-list>
    <div *ngIf="!floras.length" class="container-add-flora">
        <ion-button expand="full" fill="solid" shape="round" color="gnprimary" (click)="addForm('floras')">
            <ion-icon slot="start" name="add"></ion-icon>
            <ion-text color="light">Add New Flora</ion-text>
        </ion-button>
        <ion-text>No Items</ion-text> 
    </div>
</ion-content>
<!-- s -->