<ion-card *ngIf="currentPatrol.syncStatus">
	<ion-card-header>
		<ion-card-subtitle>
			<ion-badge color="{{currentPatrol.syncStatus == 'Ongoing' ? 'primary': 'warning'}}">
				{{currentPatrol.syncStatus}}
			</ion-badge>
			<h3>{{formatDate(currentPatrol.timestamp,'ll')}}</h3>
		</ion-card-subtitle>
	</ion-card-header>
	<ion-card-content>
		<div class="start">
			<ion-text class="time">
				Start | End : 
				{{formatDate(currentPatrol.timestamp,'hh:mm A')}} - {{formatDate(currentPatrol.lastTimestamp,'hh:mm A')}}
			</ion-text>
			<ion-text class="location">
				Location : 
				{{currentPatrol.sitio?'Sitio '+currentPatrol.sitio+', ':null}}{{currentPatrol.barangay?' Barangay '+currentPatrol.barangay:null}}
			</ion-text>
			<ion-text class="watershed">
				Watershed : 
				{{currentPatrol.watershed || 'None'}}
			</ion-text>
			<ion-text class="flora">
				Flora Encoded : 
				{{floras.length}}
			</ion-text>
			<ion-text class="fauna">
				Fauna Encoded : 
				{{faunas.length}}
			</ion-text>
			<ion-text class="distance">
				Distance : 
				{{totalDistance.toFixed(2)}} Meters
			</ion-text>
			<ion-text class="travel">
				Travel Hours : 
				{{travelHours(currentPatrol)}}
			</ion-text>
			<ion-text class="travel">
				Coordinates : 
				{{coordinates.length}}
			</ion-text>
		</div>
	</ion-card-content>
</ion-card>