margin-top-bottom-sm {
    margin-bottom: 1.2rem;
    margin-top: 0.5rem;
}

.font-18{
    font-size: 18px;
}
.flora-item {
    display: flex;
    object-fit: cover;
    overflow: hidden;
    margin: 5px;
    width: 83px !important;
    height: 85px !important;
    border-radius: 13px !important;
}