<div class="ion-page" id="main-content">

  <app-dismiss-button></app-dismiss-button>
  <ion-header class="ion-no-border">
      <ion-toolbar class="toolbar">
          <ion-title >Flora Details</ion-title>
      </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <div class="detail-container">
      <div class="detail-header">
        <ion-text class="text-header">
          <h1 class="name">Jone M. Doe</h1>
          <h1 class="datetime">1/1/2023</h1>
        </ion-text>
        <ion-text class="text-sub">
          <h2 class="category">Trees</h2>
        </ion-text>
      </div>

      <div class="detail-image-wrapper">
        <div class="detail-image">
          <ion-img src="../../../assets/images/illustration-hornbill-at-pinanga.png"></ion-img>
        </div>

        <div class="detail-image">
          <ion-img src="../../../assets/images/illustration-hornbill-at-pinanga.png"></ion-img>
        </div>

        <div class="detail-image">
          <ion-img src="../../../assets/images/illustration-hornbill-at-pinanga.png"></ion-img>
        </div>

        <div class="detail-image">
          <ion-img src="../../../assets/images/illustration-hornbill-at-pinanga.png"></ion-img>
        </div>

        <div class="detail-image">
          <ion-img src="../../../assets/images/illustration-hornbill-at-pinanga.png"></ion-img>
        </div>

        <div class="detail-image">
          <ion-img src="../../../assets/images/illustration-hornbill-at-pinanga.png"></ion-img>
        </div>

        <div class="detail-image">
          <ion-img src="../../../assets/images/illustration-hornbill-at-pinanga.png"></ion-img>
        </div>

        <div class="detail-image">
          <ion-img src="../../../assets/images/illustration-hornbill-at-pinanga.png"></ion-img>
        </div>

      </div>

    </div>
  </ion-content>
</div>