.category {
    display: flex;
    flex-direction: column;
}

.row1 {
    display: flex;
    flex-direction: row;
}

.card {
    display: block;
    width: 100%;
    height: 100px;
    background: linear-gradient(135deg, #398143 0%, #004634 100%);
    box-shadow: rgb(0 70 52 / 40%) -5px 5px, rgb(0 70 52 / 30%) -10px 10px, rgb(0 70 52 / 20%) -15px 15px;
}

.card-image {
    position: absolute;
    top: 0;
    opacity: 49%;
    right: 0;
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: center;
    -webkit-mask-image: linear-gradient(90deg, transparent, #000);
    mask-image: linear-gradient(90deg, transparent, #000);
}

.w-11rem {
    width: 11rem;
}
.font-poppins {
    font-family: 'Poppins-Regular'
}

ion-segment-button{
    background-color: #004634;
}
.overlay {
    background-color: #004634;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 76%;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-container {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
}

ion-input {
    fill: 'outline';
}

.swiper {
    margin: 0;
}

.image-card {
    width: 180px;
    height: 150px;
    object-fit: cover;
}

.image-card-default {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.default {
    width: 11rem;
}

.br-25 {
    border-radius: 25px;
}

.p-left-top-26 {
    padding: 16px 0 0 16px;
}
.font-14{
    font-size: 14px;
}
.font-12{
    font-size: 12px;
}

.border-bottom-semiblack {
    border-bottom: 1px solid #00000026;
}

.detail-flora {
    display: flex;
    flex-direction: column;
}

ion-item {
    --border-style: none;
}

.container {
    background-color: white;
    margin: 12px;
    position: relative;
    z-index: 1;
    padding: 15px 7px 7px 7px;
}

.image-container {
    position: relative;
}

.flex-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.item-wrapper,
h6,
p {
    margin: 0;
    font-family: 'Poppins-Regular';
    font-size: 14px;

}

.item-wrapper p {
    color: #a19b9b;
}

.background-container {
    position: absolute;
    z-index: 4;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-span{
    background: #004634;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
    opacity: 80%;
}

ion-card {
    border-radius: 25px
}
.border-radius-20{
    border-radius: 20px;
    padding: 12px;
}
.bg-gntertiary{
    background-color: var(--ion-color-gntertiary);
}
