<div class="ion-page" id="main-content">

  <app-dismiss-button></app-dismiss-button>
  <ion-header class="ion-no-border">
      <ion-toolbar class="toolbar">
          <ion-title>Choose Category</ion-title>
      </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="formcategory-container">
      <div class="formcategory-wrapper">
        <ion-grid fixed>
          <ion-row>
              <div class="formcategory-item">
                <ion-img src="./../../../assets/icon/incident/forest fire.png"></ion-img>
                <ion-text color="gnprimary">Forest Fire</ion-text>
              </div>
              <div class="formcategory-item">
                <ion-img src="./../../../assets/icon/incident/encroachment.png"></ion-img>
                <ion-text color="gnprimary">Encroachment</ion-text>
              </div>
          </ion-row>

          <ion-row>
            <div class="formcategory-item">
              <ion-img src="./../../../assets/icon/incident/deforestation.png"></ion-img>
              <ion-text color="gnprimary">Deforestation</ion-text>
            </div>
            <div class="formcategory-item">
              <ion-img src="./../../../assets/icon/incident/water pollution.png"></ion-img>
              <ion-text color="gnprimary">Water Pollution</ion-text>
            </div>
          </ion-row>

          <ion-row>
            <div class="formcategory-item">
              <ion-img src="./../../../assets/icon/incident/kaingin.png"></ion-img>
              <ion-text color="gnprimary">Kaingin</ion-text>
            </div>
            <div class="formcategory-item">
              <ion-img src="./../../../assets/icon/incident/soil erosion.png"></ion-img>
              <ion-text color="gnprimary">Soil Erosion</ion-text>
            </div>
          </ion-row>

          <ion-row>
            <div class="formcategory-item">
              <ion-img src="./../../../assets/icon/incident/hunting.png"></ion-img>
              <ion-text color="gnprimary">Hunting</ion-text>
            </div>
            <div class="formcategory-item">
              <ion-img src="./../../../assets/icon/incident/pipe.png"></ion-img>
              <ion-text color="gnprimary">Pipe</ion-text>
            </div>
          </ion-row>
          
          <ion-row>
            <div class="formcategory-item">
              <ion-img src="./../../../assets/icon/incident/garbage.png"></ion-img>
              <ion-text color="gnprimary">garbage</ion-text>
            </div>
            <div class="formcategory-item">
              <ion-img src="./../../../assets/icon/incident/other pollutants.png"></ion-img>
              <ion-text color="gnprimary">other pollutants</ion-text>
            </div>
          </ion-row>

          <ion-row>
            <div class="formcategory-item">
              <ion-img src="./../../../assets/icon/incident/activities.png"></ion-img>
              <ion-text color="gnprimary">activities</ion-text>
            </div>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </ion-content>
</div>