.container-add-fauna {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    color: gray;
    text-align: center;
    position: relative;
    bottom: -25%;
}